.main {
  background-color: gray;
  width: 500px;
  margin: 50px auto;
  border-radius: 15px;
}
.main h2 {
  text-align: center;
  color: white;
  padding: 25px 0;
}
.main label {
  padding: 15px;
  font-size: 20px;
  color: white;
}

.main div {
  padding-bottom: 20px;
}
.main div input[type="text"] {
  border: none;
  padding: 5px;
}
